@font-face{
  font-family: 'Dancing Script';
  src:url('../resource/fonts/DancingScript-Regular.ttf');
}

*{
  font-family: 'Dancing Script', cursive;
}

/*
Html
*/

html{
  background-color: #02010a;
}

/*
Header
*/

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

h1{
  color: white;
  text-shadow: 2px 2px #02010a;
  text-align: center;
  font-size: 1.7em;
}

/*
Menú
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
  float:left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;

}

/*Retiro de decoración links menú de acuerdo a la sección que esté.*/

a.nounderline:link{
 text-decoration:none;
}

nav{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
}


/*
Body
*/
body{
  width: 900px;
  display:block;
  margin:auto;
  animation: ocultarScroll 4s;

}

/*Animaciones body y sección de contenido.*/
@-webkit-keyframes ocultarScroll {
  from{
      overflow:hidden;
  }
  to{
      overflow:auto;
  }
}

@-webkit-keyframes deslizarVerticalmente {
  0% {
    transform: translateY(150%);
  }
  60% {
    transform: translateY(-5%);
  }
  100%{
    transform: translateY(0%);
  }

}

#seccPrincipal{
  animation: deslizarVerticalmente 1s;
}

/*
Imagenes
*/

/*
Imagen Central
*/

figure[class*= "imagenCentral"] {
  text-align: center;
  margin: 10px ;
  flex: 1 2 40%;
}

#seccImgCentral{
  background-color: #82c3a6;
  padding: 10px 50px 10px 50px;
}


/*
Imagenes Secundarias
*/

#seccImg{
  padding: 10px 30px 10px 30px;
  background-color:  #d5c75f;
  border: 1px solid #d5c75f;
  display: flex;
  flex-flow: row wrap;
}

figure[id*= "imagenSecundaria"] {
  text-align: center;
  margin: 10px;
  flex: 1 2 40%;
}

.imagenInd{
  width: 100%;
  -webkit-box-shadow: 2px 2px 0px 0px #02010a;
  -moz-box-shadow: 2px 2px 0px 0px #02010a;
  box-shadow: 2px 2px 0px 0px #02010a;
}

figcaption{
    text-decoration: underline;
    font-weight: bold;
}

#imagenSecundariaIzq{
  margin-right: 5%;
  order: 1;
}

#imagenSecundariaIzq img{
  transition: 1s;
}

#imagenSecundariaIzq img:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 0px 0px  #82c3a6;
  border: 2px;
}

#imagenSecundariaDer{
  margin-left: 5%;
  order: 2;
}

#imagenSecundariaDer img{
  transition: 1s;
}

#imagenSecundariaDer img:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px 2px 0px 0px  #82c3a6;
  border: 2px;
}



#imagenPaisajeRetrato {
  text-align: center;
  margin: 10px ;
  flex: 1 2 30%;
}

/*Filtros*/

#imagenPaisajeRetrato:nth-child(1){
  filter: blur(10px);
}

#imagenPaisajeRetrato:nth-child(3){
  filter: sepia(90%);
}

#imagenPaisajeRetrato:nth-child(2n+0){
  filter: grayscale(100%);
}


/*
Pie de página
*/

footer{
  height: 100%;
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}

#footerSecc{
  display: flex;
  flex-flow: row wrap;
}

div[class*= "Footer"] {
  padding: 0px 20px 0px 20px;
  height:100%;
  width: 100%;
  flex: 1 1 10%;
}

div[class*= "Footer"] img{
  height:10px;
}

/*
Media para dispositivos móviles
*/

@media (max-width:420px) {
  #seccImgCentral{
    padding: 10px;
  }

  #seccImg{
    padding: 10px;
  }

  #imagenSecundariaIzq{
    margin-right: 0%;
  }

  #imagenSecundariaDer{
    margin-left: 0%;
  }

  #imagenPaisajeRetrato {
    text-align: center;
    margin: 10px ;
    flex: 1 2 100%;
  }

  h1{
      width: 100%;
  }

  nav{
    display: block;
    margin:auto;
  }

  body{
    width: 95%;
  }

  figure[class*= "imagenCentral"] {
    margin: 0px;
    flex: 1 2 100%;
  }

  figure[id*= "imagenSecundaria"] {
    margin-bottom: 5%;
    margin: 0px;
    flex: 1 2 100%;
  }

  div[class*= "Footer"] {
    flex: 1 1 100% !important;
  }
  .imagenInd{
    width: 80%;
  }

  figcaption{
      margin-bottom: 10%;
  }

}
