@font-face{
  font-family: 'Dancing Script';
  src:url('../resource/fonts/DancingScript-Regular.ttf');
}

*{
  font-family: 'Dancing Script', cursive;
}

/*
Html
*/

html{
  background-color: #02010a;
}

/*
Header
*/

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

h1{
  color: white;
  text-shadow: 2px 2px #02010a;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
  float:left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;

}

a.nounderline:link
{
 text-decoration:none;
}


nav{
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.dis{
  display: none;
}

.secc{
  margin: 0px;
}

/*
Body
*/
body{
  width: 900px;
  display:block;
  margin:auto;
  animation: ocultarScroll 1.5s;
}
@-webkit-keyframes ocultarScroll {
  0% {
    overflow:hidden;
  }
  100%{
    overflow:auto;
  }
}

@-webkit-keyframes deslizarVerticalmente {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(-7%);
  }
  100%{
    transform: translateY(0%);
  }

}

#seccPrincipal{
  animation: deslizarVerticalmente 1s;
}

/*
Imagenes
*/

img{

-webkit-box-shadow: 2px 2px 0px 0px #02010a;
-moz-box-shadow: 2px 2px 0px 0px #02010a;
box-shadow: 2px 2px 0px 0px #02010a;

}

#imagenCentral{
  display:block;
  margin:auto;
  width: 50%;
}

img[id*= "imagenSecundaria"] {
  margin: 10px;
  height:200px;
  width: 200px;
  flex: 1 2 40%;
}

@media (max-width:420px) {

  nav{
    display: block;
    margin:auto;
  }

  #imagenCentral{
    display:block;
    margin:auto;
    width: 100%;
  }

  body{
    width: 95%;
  }

  img[id*= "imagenSecundaria"] {
    margin-bottom: 5%;
    height:100%;
    flex: 1 2 100%;
  }

  div[class*= "Footer"] {
    flex: 1 1 100% !important;
  }

}

#imagenSecundariaIzq{
  order: 1;
}

#imagenSecundariaDer{
  order: 2;
}

/*
Secciones
*/

#seccImgCentral{
  background-color: #82c3a6;
  padding: 10px;
}

#seccImgSecundaria{
  padding: 20px;
  background-color:  #d5c75f;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
}

/*
Pie de página
*/

footer{
  height: 100%;
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}

#footerSecc{
  display: flex;
  flex-flow: row wrap;
}

div[class*= "Footer"] {
  padding: 0px 20px 0px 20px;
  height:100%;
  width: 100%;
  flex: 1 1 10%;
}
